/* reset from Kevin Powell*/

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 55ch;
}

/* for container queries, landmarks as containers */
body > :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Theme */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);
  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);
}

/* Utilities */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Composition */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* Global/base */
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);

  &:hover,
  &:focus-visible {
    color: var(--clr-primary-light-1);
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
}



/* === HEADER STYLES === */
.site-header {
  background-color: var(--clr-neutral-100);
  color: var(--clr-green-400);
  font-size: var(--fs-600);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  width: 100%;
  padding: 0.5rem 0;
}

.header__container {
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: inherit;
}

.logo img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--clr-green-400);
}

.logo__title {
  display: grid;
  line-height: 0.8;
  font-size: var(--fs-600);
}

.main-nav .nav__list {
  display: flex;
  gap: 5rem;
  list-style: none;
}

.main-nav .nav__item a:hover,
.header__container a:hover {
  color: var(--clr-green-800);
  text-decoration: none;
}




/* === HERO SECTION === */
.hero {
  max-width: 1080px;
  margin: 3rem auto;
  text-align: center;
}

.hero p {
    margin: 1rem auto;
}

.hero h1 {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
}

.hero__gallery {
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  grid-template-rows: repeat(2, 300px);
  border: 1rem solid var(--clr-neutral-100);
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__galery-item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.hero__galery-item--2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.hero__galery-item--3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.hero__galery-item--4 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

.hero__galery-item--5 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.hero__galery-item--6 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* === NEWSLETTER SIGNUP === */
.newsletter-signup {
  background: var(--clr-neutral-100);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.newsletter__container {
  max-width: 1080px;
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: center;
  padding: 0 1rem;
}

.newsletter__grouped-elements {
    display: grid;
}

.newsletter__container h2 {
  max-width: 20ch;
  margin-bottom: 1rem;
}

.newsletter__form {
  display: flex;
  background-color: var(--clr-neutral-100);
  border: 1px solid var(--clr-neutral-300);
  border-radius: 2.5rem;
  align-items: center;
  padding: 2px;
  gap: 0.5rem;
  height: 2.5rem;
  justify-content: space-between;
}

.newsletter__form input[type="email"] {
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  padding: 0 0.5rem;
  font-size: var(--fs-400);
  width: 180px;
  margin: auto;
}

.newsletter__form button {
  background-color: var(--clr-green-400);
  color: var(--clr-accent-light-1);
  border: none;
  border-radius: 2.5rem;
  padding: 0 1.25rem;
  height: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}

.newsletter__form button:hover {
  background-color: var(--clr-green-800);
}

.newsletter__icon {
  background-color: var(--clr-green-400);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter__icon img {
    width: 125px;
    height: 125px;
}



/* === CARD GALLERY === */
.card-grid {
  max-width: 1080px;
  margin: 3rem auto;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.card {
  background: var(--clr-primary-light-1);
  padding: 1.5rem;
}

.card__tags {
  list-style: none;
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

/* === PREVIOUS CROPS SECTION === */
.previous-crops {
  background: var(--clr-neutral-100);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.previous-crops__container {
  max-width: 1080px;
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: center;
}

.previous-crops__icon {
  background-color: var(--clr-green-400);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.previous-crops__icon img {
    width: 125px;
    height: 125px;
}

.previous-crops__info {
  max-width: 60ch;
  display: grid;
}

.previous-crops__info .button {
  justify-self: end;
  background-color: var(--clr-green-400);
  color: var(--clr-accent-light-1);
  border: none;
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.previous-crops__info .button:hover {
  background-color: var(--clr-green-800);
}



/* === EMPTY DIV === */
.empty {
    height: 5rem;
}


/* === FOOTER STYLES === */

.site-footer {
  color: var(--clr-neutral-100);
  background-color: var(--clr-green-400);
  width: 100%;
  padding: 4rem 0;
} 

.footer__container {
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
  
.footer__about {
    max-width: 45ch;
}

.footer__about .logo {
  margin-bottom: 2rem;
}

.footer__about .logo:hover {
  text-decoration: none;
  color: var(--clr-green-800)
}

.footer__about address {
  margin: 1rem 0;
  font-weight: var(--fw-600);
  line-height: 2;
}

.footer__nav-list {
  list-style: none;
  line-height: 2.5rem;
  font-size: var(--fs-400);
  font-weight: var(--fw-500);
}

.footer__nav-list a {
  color: var(--clr-neutral-100);
}

.footer__nav-list a:hover {
      text-decoration: none;
      color: var(--clr-green-800)
}